*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: black;
    color: white;
}

.header .logo{
    flex: 50%;
    font-size: 26px;
    margin-left: 20px;
}

.header .nav{
    display: flex;
    flex: 10%;
    justify-content: space-evenly;
}

.header .nav li{
    list-style: none;
    font-size: 22px;
    cursor: pointer;
}


.header .nav li:hover{
    color: orange;
}

.home{
    width: 100%;
    position: relative;
}

.home img{
    width: 100%;
    min-height: 400px;
}

.home .about{
    color: black;
}

.home .about{
    margin: 0 auto;
    width: 60%;
    text-align: center;
}

.home .about h2{
    font-size: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.home .about p{
    font-size: 20px;
}

.menu{
    width: 60%;
    margin: 0 auto;
}

.menu h1{
    text-align: center;
    margin: 15px 0;
}

.menu .plate{
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 20px;
}

.menu .plate img{
    width: 100%;
}
